<h2> <%= @user.username.capitalize %>'s Masterpieces </h2>

<div id="choice-container">


  <%= link_to(root_path) do %>
  <span id="go-home">DRAW SOME MORE</span>
  <% end %>


</div>


<% @pictures.each do |picture| %>

  <%= link_to show_image_path("#{picture.id}") do %>
    <div class="picture-display">
      <img src = <%= picture.image%> alt="a picture" width="200px" height="200px"  /><br/>
      <%= picture.title %>
    </div>
  <% end %>

<% end %>
