<!DOCTYPE html>
<html>
<head>
  <title>HolidayProject</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>



<%= yield %>
<div class="notifications">
  <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
  <% end -%>
</div>


</body>
</html>
